# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
# created-by: conda 25.5.1
matplotlib=3.10.0=py313hca03da5_1
matplotlib-base=3.10.0=py313hb68df00_0
numpy=2.2.5=py313hdcf7240_0
numpy-base=2.2.5=py313h9d8309b_0
pandas=2.2.3=py313hcf29cfe_0